<!DOCTYPE html>
<html lang="en">

<head>

</head>




<body>
<H1>HOME PAGE</H1>
{% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                    <p>{{ message }}</p>
               {% endfor %}
         {% endif %}
      {% endwith %}
<a href="/RegisterStudent"><i class='fas fa-funnel-dollar'></i>Register Student</a><br>
<a href="/login_student"><i class='fas fa-funnel-dollar'></i>Student Login</a><br>
<a href="/login_teacher"><i class='fas fa-funnel-dollar'></i>Teacher Login</a><br>
<a href="/login_club"><i class='fas fa-funnel-dollar'></i>Club Login</a><br>
</body>

</html>
